In [11]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [30]:
# Data Loader
df = pd.read_csv('./Data/ExcelFormattedGISTEMPDataCSV.csv')
df.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON
0,1880,-29,-19,-17,-27,-13,-28,-22,-6,-16,-15,-18,-20,-19,***,****,-19,-19,-16
1,1881,-8,-13,2,-2,-3,-27,-5,-1,-8,-18,-25,-14,-10,-11,-13,-1,-11,-17
2,1882,10,10,2,-19,-17,-24,-9,5,0,-21,-20,-24,-9,-8,2,-11,-9,-14
3,1883,-32,-41,-17,-23,-24,-11,-7,-12,-18,-11,-19,-17,-19,-20,-32,-22,-10,-16
4,1884,-17,-11,-33,-35,-31,-37,-33,-25,-22,-22,-30,-28,-27,-26,-15,-33,-32,-25